.container{
    background-color: olivedrab;
    border: 10px solid beige;
    padding: 100px;
    margin: 100px;
}

.passage{
    background-color: pink;
    border: 5px solid olivedrab;
    padding: 50px;
    margin: 50px;
}
@font-face{
    font-family: Autopia-Bold;
    src: url(../Fonts/Autopia-Bold.otf.ttf) format('woff2');
}
body{
    font-family: 'Autopia-Bold';
}
