.container{
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
    padding-top: 200px;
}
.container div {
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 400px;
    width: 400px;
}

@media only screen and (max-width: 600px) {
    body {
      width: 400px;
      margin: auto;
    }

    .container{
        display: block;
    }

  }