@font-face {
    font-family: 'computer modern';
    src:  url(../Fonts/cmunti.ttf) format('woff2');
  }

body {
    font-size: 72px;
    background-color: olive;
    color: pink;
    font-family: 'computer modern';
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

a {
    color: aquamarine;
}

a:hover {
    color: azure;
}

#deer{
    background-image: url(image/deer.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
    position: fixed;
    top: 100px;
    left: 1100px;
}

