body{
    background-color: black;
}

.container{
    padding-top: 100px;
    width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 300px);
}

img{
    width: 300px;
}

img:hover{
    scale: 1.25;
}